#green {
    background-color: rgb(41, 121, 73);
}

.section-colour {
    background-color: rgb(209, 253, 227);
}

.bold {
    font-weight: bold;
}

.stroke img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.stroke {
    border: 2px solid green;
}